.profile-header {
  display: flex;
  margin-top: 120px;
  height: 400px;
  justify-content: center;
  align-items: center;
  background-color: #2c7800;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
}

h2 {
 color:black
}
