.new-tweet {
  display: flex;
  padding-left: 4rem;
  width: 90%;
  margin-top: 2rem;
} 

#tweet-text {
  width: 30rem;
  height: 10rem;
  border-bottom: 3px solid rgb(83, 54, 16);
  color: #5f5c53;
}

#tweet-text:hover {
  border-bottom: 3px solid  #4056A1;
  background-color:rgb(220, 210, 210);
  color:black;
  font-weight: bold;
  opacity: 50%;
  transition: background-color 0.5s ease;
  cursor: pointer;
  background-position: -50% 100%;
  transition: .5s ease;
}

#composeTweet {
  color:black;
}

#compose-logo {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 5rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}


.newTweetTop {
  display: flex;
  flex-direction: column;
  border-bottom: 5px solid #5f5c53;
  font-weight: 600;
}

.newTweetBottom {
  font-family: "Bungee";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

.newTweetBottom > button {
  background-color: #4056a1;
  font-size: 1em;
  color: #ffffff;
  border: 0;
  height: 2.5rem;
  width: 7rem;
  transition-duration: 0.4s;
}

.newTweetBottom > button:hover {
  background-color: rgb(213, 19, 19);
  color: white;
}

.error {
  display: none;
  margin: auto;
  margin-top: 2rem;
  padding: 1rem;
  border:red solid 2px;
  min-height: 4rem;
} 